*{
    margin:0
}

body{
    background: #888;
}

section{
    background: #fff;
    width: 90%;
    margin:50px auto;
    padding: 30px 50px;
    .content_top{
        display: flex;
        align-items: center;
        .inner_left_content{
            flex: 2;
            .title{
                h2{
                    color: #F84242;
                    font-size: 30px;
                    font-weight: 200;
                    width: 60%;
                }
                .underline{
                    height: 2px;
                    width: 40%;
                    background: #F84242;
                    margin: 30px 0;
                }
            }
            .text{
                p{
                    font-size: 20px;
                    line-height: 40px;
                    width: 90%;
                    color: #333;
                }
            }
        }
        .inner_right_content{
            position: relative;
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            border:1px solid #888;
            padding: 25px 0;
            // box-shadow: 0 7px 15px 1px #888;
            i{
                position: absolute;
                top: 20px;
                right: 20px;
                color: #F84242;
                font-size: 20px;
            }
            .comp_logo{
                flex-basis: 48%;
                width: 250px;
                // border:1px solid;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .comp_name{
                flex-basis: 48%;
                
                h2{
                    color: #F84242;
                    font-size: 80px;
                }
            }
        }
    }
    .profile{
        margin: 80px 0 0 0;
        .title{
            h2{
                color: #F84242;
                font-size: 30px;
                font-weight: 200;
                width: 60%;
            }
            .underline{
                height: 2px;
                width: 20%;
                background: #F84242;
                margin: 30px 0;
            }
        }
        .text{
            // width: 95%;
            margin:20px auto;
            // box-shadow: 1px 3px 6px 1px #000;
            padding: 25px 0;
            p{
                font-size: 18px;
                line-height: 30px;
                color: #333;
                 
            }
        }
        
    }

    .reps{
        margin: 80px 0 0 0;
        .title{
            h2{
                color: #F84242;
                font-size: 30px;
                font-weight: 200;
                width: 60%;
            }
            .underline{
                height: 2px;
                width: 20%;
                background: #F84242;
                margin: 30px 0;
            }
        }

        .content{
            display: flex;
            // height: 20vh;
            padding: 30px 20px;
            align-items: center;
            justify-content: space-evenly;

            .rep{
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 30px 15px;
                flex-basis: 20%;
                box-shadow: 1px 1px 3px 1px #888;
                border-radius: 5px;
                i{
                    position: absolute;
                    top: 20px;
                    right: 20px;
                    color: #F84242;
                    font-size: 20px;
                }
                .rep_avatar{
                    width: 250px;
                    height: 250px;
                    border-radius: 50%;
                    box-shadow: 1px 1px 6px 1px #888;
                    overflow: hidden;

                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .rep_info{
                    margin: 30px 0;
                    text-align: center;

                    p:first-child{
                        font-size: 22px;
                        font-weight: 700;
                        margin: 0 0 5px 0;
                        text-transform: uppercase;
                    }
                    p{
                        font-size: 16px;
                    }
                }
            }

        }

    }
}