*::before,*::after,*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.wrapper{
    .pg_heading{
        height: 12vh;
        background-image: linear-gradient(to right, rgb(0, 153, 51), rgb(0, 102, 255));
        display: flex;
        align-items: center;
        padding: 0 30px;

        h3{
            font-weight: 300;
            font-size: 30px;
            color: #fff;
            letter-spacing: 2px;
        }
    }

    .main{
        .exhibit_list{
            .exhibitors{
                margin: 100px 0;
                display: flex;
                flex-wrap: wrap;    

                .content{
                    position: relative;
                    width: 400px;
                    height: 200px;
                    border:1px solid #888;
                    margin: 80px 15px;
                    display: flex;
                    align-items: flex-end;
                    transition: 0.16s ease-in;
                    .exhibit_logo{
                        width: 100px;
                        height: 100px;
                        border-radius:50%;
                        border:1px solid #888;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: absolute;
                        left: 50%;
                        transform: translateX(-50%);
                        top: -50px;
                        background:#fff;

                        img{
                            width: 70%;
                            height: 60%;
                        }
                    }
                    .exhibit_desc{
                        display: flex;
                        flex-direction: column;
                        justify-content:  center;
                        align-items: center;
                        height: 100%;
                        width: 100%;
                        height: 70%;
                        h3{
                            width: 100%;
                            text-align: center;
                            font-size: 20px;
                            text-transform: uppercase;
                        }
                        p{
                            width: 100%;
                            text-align: center;
                        }
                    }
                }
                .content:hover{
                    box-shadow: 13px 5px 20px 1px #888;
                    border:none;
                }
            }
        }
    }
}