*::before,*::after,*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}



.wrapper{
    .pg_heading{
        height: 12vh;
        background-image: linear-gradient(to right, rgb(0, 153, 51), rgb(0, 102, 255));
        display: flex;
        align-items: center;
        padding: 0 30px;

        h3{
            font-weight: 300;
            font-size: 30px;
            color: #fff;
            letter-spacing: 2px;
        }
    }
    *{
        margin:0;
        padding: 0;
    }
    
 
    
    // .booth{
    //     width: 100%;
    //     height: 80vh;
    //     position: relative;
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;

        
    //     }
    // }
    
.main{
    position: relative;
    .exp_exhibitor{

        .representative{
            display: flex;
            margin: 80px 0;
            justify-content: space-evenly;
            .card{
                width: 300px;
                height: 300px;
                border:1px solid #888;
                border-radius: 5px;
                position: relative;
                display: flex;
                justify-content: space-evenly;
                box-shadow: 13px 3px 15px 1px #888;
                .rep_img{
                    position: absolute;
                    top: -50px;
                    left:50%;
                    transform: translateX(-50%);
                    width: 100px;
                    height: 100px;
                    border-radius:50%;
                    border:1px solid #888;
                    overflow: hidden;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .rep_details{
                    height: 60%;

                    h4{
                        text-align: center;
                    }
                    h6{
                        text-align: center;
                        font-weight: 200;
                    }
                    .contact_info{
                        margin: 30px 0 0 0;
                        text-align: center;
                    }
                }
            }
        }
        .product{
            .owl-carousel{
                width: 100%;
                margin: 30px auto;
                display: flex;
                justify-content: center;
                // border:1px solid;
                .item{
                    // margin:0 30px 0 0;
                    border:1px solid;
                    border-radius: 5px;
                    height: 100%;
                    box-shadow: 5px 0px 5px 1px #8888;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    width: 350px;
                    .product_image{
                        display: flex;
                        justify-content: center;
                        img{
                            width: 195px;
                            height: 195px;
                        }
                    }
                    .pro_desc{
                        height: 150px;
                        display: flex;
                        flex-direction: column;
                        margin: 10px 0 0 0;
                        // border:1px solid;
                        p{
                            margin:0;
                        }
                        .p_name{
                            padding: 0 30px 5px 30px;
                            font-size: 20px;
                            font-weight: 500;
                            line-height: 30px;
                            
                        }
                        .hsn{
                            // text-align: center;
                            // margin: 20px auto 0 auto;
                            // width: 80%;
                            // border:1px solid;
                            padding: 0px 30px 5px 30px;
                        }
                        .certificate{
                            padding: 0px 30px 0px 30px;
                        }
                    }
                    button{
                        margin: 0 auto 30px auto;
                        width: 50%;

                        i{
                            color: #fff;
                        }
                    }
                    
                }
                .item:last-child{
                    margin:0
                }
            }
            
            .owl-nav{
                display: block;
                
                .owl-next{
                    span{
                        font-size: 50px;
                        position: absolute;
                        right: -50px;
                        top: 40%;
                        transform: translateY(-50%);
                    }
                }
                .owl-prev{
                    span{
                        font-size: 50px;
                        position: absolute;
                        left: -50px;
                        top: 40%;
                        transform: translateY(-50%);
                    }
                }
            }
        }

    }
    .chat_icon{
        position: fixed;
        bottom: 10%;
        right: 30px;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-image: linear-gradient(to right, rgb(0, 153, 51), rgb(0, 102, 255));
        display: flex;
        align-items: center;
        justify-content: center;

        i{
            font-size: 40px;
            color: #fff;
        }
    }
    .chat_icon:hover{
        cursor: pointer;
    }
    .chat_container{
        position: fixed;
        background: white;
        border:1px solid #888;
        width: 300px;
        height: 400px;
        bottom: 7%;
        right: 30px;
        z-index: 100;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        .chat_header{
            background-image: linear-gradient(to right, #38B244, #0178BC);
            padding: 5px 10px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            display: flex;
            align-items: center;
            p{
                color: #fff;
                flex: 1;
                font-size: 14px;
                margin: 0 10px 0 0;
            }
            i{
                color: #fff;
            }
            i:hover{
                cursor: pointer;
            }
        }
        .chat_box{
            width: 100%;
            height: 100%;
            overflow-y: scroll;
            overflow-x: hidden;
            padding: 10px;
            display: flex;
            flex-direction: column;

            .msg_box{
                margin: 10px 0;
                padding: 5px 0;
                display: flex;
                width: 100%; 
                align-items: flex-start;
                
                .user_avatar{
                    width: 50px;
                    height: 50px;
                    overflow: hidden;
                    border-radius: 50%;
                    border:1px solid #888;
                    margin: 0 10px 0 0;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .msg{
                    // height: 100%;
                    width: 60%;
                    border-radius: 10px;
                    border-top-left-radius: 0;
                    background: #10889A;
                    display: flex;
                    align-items: center !important;
                    
                    p{
                        width: 100%;
                        color: #fff;
                        padding: 0 5px;
                    }
                }
                
            }
            
        }
        .input_box{
            display: flex;
            align-items: center;
            padding: 5px 5px;
            margin: 10px 0 0 0;
            border-top:1px solid #888;
            input[type="text"]{
                flex: 1;
                margin:0 5px 0 0;
                height: 40px;
                padding: 0 10px;
                border:1px solid #888;
                border-radius: 3px;
            }
            .send_btn{
                width: 40px;
                height: 40px;
                border:none;
                background: #0066ff;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                i{
                    color: #fff;
                    font-size: 15px;
                }
            }
        }
    }



    .chat_container:last-child{
        position: fixed;
        background: white;
        border:1px solid #888;
        width: 300px;
        height: 400px;
        bottom: 7%;
        right: 20%;
        z-index: 100;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        .chat_header{
            background-image: linear-gradient(to right, #38B244, #0178BC);
            padding: 5px 10px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            display: flex;
            align-items: center;
            p{
                color: #fff;
                flex: 1;
                font-size: 14px;
                margin: 0 10px 0 0;
            }
            i{
                color: #fff;
            }
            i:hover{
                cursor: pointer;
            }
        }
        .contact_box{
            width: 100%;
            height: 100%;
            overflow-y: scroll;
            overflow-x: hidden;
            padding: 10px;
            display: flex;
            flex-direction: column;

            .msg_box{
                margin: 10px 0;
                padding: 5px 0;
                display: flex;
                width: 100%; 
                align-items: center;
                
                .user_avatar{
                    
                    position: relative;
                    .user_img{
                        width: 50px;
                        height: 50px;
                        overflow: hidden;
                        border-radius: 50%;
                        border:1px solid #888;
                        margin: 0 10px 0 0;
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                    
                    .online{
                        position: absolute;
                        width: 10px;
                        height: 10px;
                        border-radius:50%;
                        background: #00cc00;
                        bottom: 2px;
                        right: 13px;
                        z-index: 50;
                    }
                }
                .user_info{
                    // height: 100%;
                    flex: 1;
                    
                    p{
                        width: 100%;
                        margin:0;
                        font-size: 15px;
                        // color: #fff;
                        // padding: 0 5px;
                    }
                    small{
                        font-size: 12px;
                    }
                }
                .chat_btn{
                    width: 82px;
                    font-size: 12px;
                }
            }
            
        }
        .chat_box{
            width: 100%;
            height: 100%;
            overflow-y: scroll;
            overflow-x: hidden;
            padding: 10px;
            display: flex;
            flex-direction: column;

            .msg_box{
                margin: 10px 0;
                padding: 5px 0;
                display: flex;
                width: 100%; 
                align-items: flex-start;
                
                .user_avatar{
                    width: 50px;
                    height: 50px;
                    overflow: hidden;
                    border-radius: 50%;
                    border:1px solid #888;
                    margin: 0 10px 0 0;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .msg{
                    // height: 100%;
                    width: 60%;
                    border-radius: 10px;
                    border-top-left-radius: 0;
                    background: #10889A;
                    display: flex;
                    align-items: center !important;
                    
                    p{
                        width: 100%;
                        color: #fff;
                        padding: 0 5px;
                    }
                }
                
            }
            
        }
        .input_box{
            display: flex;
            align-items: center;
            padding: 5px 5px;
            margin: 10px 0 0 0;
            border-top:1px solid #888;
            input[type="text"]{
                flex: 1;
                margin:0 5px 0 0;
                height: 40px;
                padding: 0 10px;
                border:1px solid #888;
                border-radius: 3px;
            }
            .send_btn{
                width: 40px;
                height: 40px;
                border:none;
                background: #0066ff;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                i{
                    color: #fff;
                    font-size: 15px;
                }
            }
        }
    }
}
    
@media only screen and(min-width:1200px) and (max-width:1399px){
    html{
        scroll-behavior: smooth;
    }

        
    .booth{
        width: 100%;
        height: 100vh;
        position: relative;
        overflow: hidden;
        img{
            width: 100%;
            height: 100%;
            z-index: -1;
        }
        .banner{
            position: absolute;
            top: 25%;
            left: 50%;
            transform: translate(-50%,-30%);
            border:none;
            .chain1{
                position: absolute;
                width: 3px;
                height: 300px;
                background: #888;
                left: 0;
                top: -100%;
                z-index: -1;
                }
                .chain2{
                    position: absolute;
                    width: 3px;
                    height: 300px;
                    background: #888;
                    left: 45px;
                    top: -100%;
                    z-index: -1;
                }
                .chain3{
                    position: absolute;
                    width: 3px;
                    height: 300px;
                    background: #888;
                    right: 0;
                    top: -100%;
                    z-index: -1;
                }
                .chain4{
                    position: absolute;
                    width: 3px;
                    height: 300px;
                    background: #888;
                    right: 45px;
                    top: -100%;
                    z-index: -1;
                }
            .comp_logo{
                position: absolute;
                top: 0;
                left: 0;
                // transform: translateY(-50%);
                // border:1px solid;
                display: flex;
                width: 100%;
                height: 71%;
                padding: 20px 15px;
                align-items: center;
                a{
                    max-width: 150px;
                    max-height: 75px;
                    display: block;
                    flex: 1;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                h2{
                    flex:1;
                    text-align: left;
                    font-size: 50px;
                }
            }
        }
        .carpet{
            position: absolute;
            bottom: 2%;
            width: 70%;
            left: 15%;
        }
        .catalogue_stand{
            width: 80px;
            // height: 0px;
            position: absolute;
            bottom: 5%;
            right: 10%;
        }
        .wall{
            position: absolute;
            bottom: 7%;
            left: 28%;
            width: 580px;
            height: 420px;
            background: rgba(255,255,255,0.9);
            // transform: translateX(-50%);
            z-index: 1;
            
            
            .television{
                position: absolute;
                top: 2%;
                left: 50%;
                transform: translateX(-50%);
                width: 200px;
                height: 100px;

                a{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    width: 30px;
                    height: 30px;
                }
            }
            .poster1{
                position: absolute;
                top: 2%;
                left: 50px;
                width: 120px;
                height: 150px;
            }
            .poster2{
                position: absolute;
                top: 2%;
                right: 50px;
                width: 120px;
                height: 150px;
            }
        }
        
        .receptionist{
            position: absolute;
            bottom: 5%;
            left: 55%;
            transform: translateX(-50%);
            z-index: 2;

            img{
                height: 320px;
            }
        }
        .table{
            position: absolute;
            bottom: 3%;
            left: 50%;
            width: 400px;
            height: 182px;
            transform: translateX(-50%);
            z-index: 3;
            .table_fb{
                width: 30px;
                height:30px;
                border-radius: 50%;
                // border:2px solid #003366;
                display: flex;
                align-items: center;
                justify-content: center;
                background: #fff;
                position: absolute;
                bottom: 20%;
                left: 20px;
                text-decoration: none;
                box-shadow: 1px 3px 5px 1px #333;
                i{
                    font-size: 15px;
                    color: #003366;
                    z-index: 10;
                }
            }
            .table_twitter{
                width: 30px;
                height:30px;
                border-radius: 50%;
                // border:2px solid #003366;
                display: flex;
                align-items: center;
                justify-content: center;
                background: #fff;
                position: absolute;
                bottom: 20%;
                left: 60px;
                text-decoration: none;
                box-shadow: 1px 3px 5px 1px #333;
                i{
                    font-size: 15px;
                    color: #003366;
                    z-index: 10;
                }
            }
            .table_in{
                width: 30px;
                height:30px;
                border-radius: 50%;
                // border:2px solid #003366;
                display: flex;
                align-items: center;
                justify-content: center;
                background: #fff;
                position: absolute;
                bottom: 20%;
                left: 100px;
                text-decoration: none;
                box-shadow: 1px 3px 5px 1px #333;
                i{
                    font-size: 15px;
                    color: #003366;
                    z-index: 10;
                }
            }
            .logo{
                position: absolute;
                right: 40px;
                top: 40%;
                transform: translateY(-70%) !important;
                width: 130px;
                height: 60px;
                // border:1px solid;
                z-index: 4;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            .logo:hover{
                cursor: pointer;
            }

            .table_chat_icon{
                width: 40px;
                height:40px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                background-image: linear-gradient(to right, rgb(0, 153, 51), rgb(0, 102, 255));
                position: absolute;
                top: 25%;
                left: 20px;
                text-decoration: none;
                box-shadow: 1px 3px 5px 1px #333;
                i{
                    font-size: 20px;
                    color: #fff;
                    z-index: 10;
                }
            }
            .table_product{
                
                display: flex;
                align-items: center;
                justify-content: center;
                background-image: linear-gradient(to right, rgb(0, 153, 51), rgb(0, 102, 255));
                position: absolute;
                top: 25%;
                left: 70px;
                text-decoration: none;
                font-size: 15px;
                padding:6px 10px;
                border-radius:5px;
                color:#fff;
                box-shadow: 1px 3px 5px 1px #333;
            }
        }
        .standi1{
            position: absolute;
            bottom: 5%;
            left: 25%;
            width: 150px;
            height: 300px;
            transform: translateX(-50%);
            z-index: 2;
            overflow: hidden;
            a{
                position: absolute;
                left: 50%;
                top: 9px;
                width: 138px;
                height: 273px;
                margin: auto auto;
                overflow: hidden;
                transform: translateX(-50%) !important;
                z-index: 3;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .standi2{
            position: absolute;
            bottom: 5%;
            right: 12%;
            width: 150px;
            height: 300px;
            transform: translateX(-50%);
            z-index: 2;
            overflow: hidden;
            a{
                position: absolute;
                left: 50%;
                top: 9px;
                width: 138px;
                height: 273px;
                margin: auto auto;
                overflow: hidden;
                transform: translateX(-50%) !important;
                z-index: 3;

                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
    
    
}

@media only screen and(min-width:1400px) and (max-width:1799px){


    .booth{
        width: 100%;
        height: 100vh;
        position: relative;
        overflow: hidden;
        img{
            width: 100%;
            height: 100%;
            z-index: -1;
        }
        
        .banner{
            position: absolute;
            top: 25%;
            left: 50%;
            transform: translate(-50%,-30%);
            border:none;
            .chain1{
                position: absolute;
                width: 3px;
                height: 300px;
                background: #888;
                left: 0;
                top: -100%;
                z-index: -1;
                }
                .chain2{
                    position: absolute;
                    width: 3px;
                    height: 300px;
                    background: #888;
                    left: 45px;
                    top: -100%;
                    z-index: -1;
                }
                .chain3{
                    position: absolute;
                    width: 3px;
                    height: 300px;
                    background: #888;
                    right: 0;
                    top: -100%;
                    z-index: -1;
                }
                .chain4{
                    position: absolute;
                    width: 3px;
                    height: 300px;
                    background: #888;
                    right: 45px;
                    top: -100%;
                    z-index: -1;
                }
            .comp_logo{
                position: absolute;
                top: 0;
                left: 0;
                // transform: translateY(-50%);
                // border:1px solid;
                display: flex;
                width: 100%;
                height: 71%;
                padding: 20px 15px;
                align-items: center;
                a{
                    max-width: 150px;
                    max-height: 75px;
                    display: block;
                    flex: 1;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                h2{
                    flex:1;
                    text-align: left;
                    font-size: 50px;
                }
            }
        }
        .carpet{
            position: absolute;
            bottom: 1%;
            width: 70%;
            left: 13%;
            height: 200px;
        }
        .catalogue_stand{
            width: 80px;
            // height: 0px;
            position: absolute;
            bottom: 1%;
            right: 14%;
            z-index: 5;
        }
        .wall{
            position: absolute;
            bottom: 7%;
            left: 30%;
            width: 600px;
            height: 450px;
            background: rgba(255,255,255,0.9);
            // transform: translateX(-50%);
            z-index: 1;

            .television{
                position: absolute;
                top: 2%;
                left: 50%;
                transform: translateX(-50%);
                width: 200px;
                height: 100px;

                a{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    width: 30px;
                    height: 30px;
                }
            }
            .poster1{
                position: absolute;
                top: 2%;
                left: 50px;
                width: 120px;
                height: 150px;
            }
            .poster2{
                position: absolute;
                top: 2%;
                right: 50px;
                width: 120px;
                height: 150px;
            }
        }
        
        .receptionist{
            position: absolute;
            bottom: 5%;
            left: 55%;
            transform: translateX(-50%);
            z-index: 2;

            img{
                height: 320px;
            }
        }
        .table{
            position: absolute;
            bottom: 3%;
            left: 50%;
            width: 400px;
            height: 192px;
            transform: translateX(-50%);
            z-index: 3;
            .table_fb{
                width: 30px;
                height:30px;
                border-radius: 50%;
                // border:2px solid #003366;
                display: flex;
                align-items: center;
                justify-content: center;
                background: #fff;
                position: absolute;
                bottom: 20%;
                left: 20px;
                text-decoration: none;
                box-shadow: 1px 3px 5px 1px #333;
                i{
                    font-size: 15px;
                    color: #003366;
                    z-index: 10;
                }
            }
            .table_twitter{
                width: 30px;
                height:30px;
                border-radius: 50%;
                // border:2px solid #003366;
                display: flex;
                align-items: center;
                justify-content: center;
                background: #fff;
                position: absolute;
                bottom: 20%;
                left: 60px;
                text-decoration: none;
                box-shadow: 1px 3px 5px 1px #333;
                i{
                    font-size: 15px;
                    color: #003366;
                    z-index: 10;
                }
            }
            .table_in{
                width: 30px;
                height:30px;
                border-radius: 50%;
                // border:2px solid #003366;
                display: flex;
                align-items: center;
                justify-content: center;
                background: #fff;
                position: absolute;
                bottom: 20%;
                left: 100px;
                text-decoration: none;
                box-shadow: 1px 3px 5px 1px #333;
                i{
                    font-size: 15px;
                    color: #003366;
                    z-index: 10;
                }
            }
            .logo{
                position: absolute;
                right: 40px;
                top: 40%;
                transform: translateY(-70%) !important;
                width: 130px;
                height: 60px;
                // border:1px solid;
                z-index: 4;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            .logo:hover{
                cursor: pointer;
            }
            .table_chat_icon{
                width: 40px;
                height:40px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                background-image: linear-gradient(to right, rgb(0, 153, 51), rgb(0, 102, 255));
                position: absolute;
                top: 25%;
                left: 20px;
                text-decoration: none;
                box-shadow: 1px 3px 5px 1px #333;
                i{
                    font-size: 20px;
                    color: #fff;
                    z-index: 10;
                }
            }
            .table_product{
                
                display: flex;
                align-items: center;
                justify-content: center;
                background-image: linear-gradient(to right, rgb(0, 153, 51), rgb(0, 102, 255));
                position: absolute;
                top: 25%;
                left: 70px;
                text-decoration: none;
                font-size: 15px;
                padding:6px 10px;
                border-radius:5px;
                color:#fff;
                box-shadow: 1px 3px 5px 1px #333;
            }
        }
        .standi1{
            position: absolute;
            bottom: 5%;
            left: 25%;
            width: 180px;
            height: 330px;
            transform: translateX(-50%);
            z-index: 2;
            overflow: hidden;
            a{
                position: absolute;
                left: 50%;
                top: 9px;
                width: 168px;
                height: 303px;
                margin: auto auto;
                overflow: hidden;
                transform: translateX(-50%) !important;
                z-index: 3;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .standi2{
            position: absolute;
            bottom: 5%;
            right: 15%;
            width: 180px;
            height: 330px;
            transform: translateX(-50%);
            z-index: 2;
            overflow: hidden;
            a{
                position: absolute;
                left: 50%;
                top: 9px;
                width: 168px;
                height: 303px;
                margin: auto auto;
                overflow: hidden;
                transform: translateX(-50%) !important;
                z-index: 3;

                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
    
    
}


@media only screen and(min-width:1800px){
    html{
        scroll-behavior: smooth;
    }

    .booth{
        width: 100%;
        height: 100vh;
        position: relative;
        overflow: hidden;
        img{
            width: 100%;
            height: 100%;
            z-index: -1;
        }
        
        .banner{
            position: absolute;
            top: 25%;
            left: 50%;
            transform: translate(-50%,-30%);
            border:none;
                .chain1{
                position: absolute;
                width: 3px;
                height: 300px;
                background: #888;
                left: 0;
                top: -100%;
                z-index: -1;
                }
                .chain2{
                    position: absolute;
                    width: 3px;
                    height: 300px;
                    background: #888;
                    left: 10px;
                    top: -100%;
                    z-index: -1;
                }
                .chain3{
                    position: absolute;
                    width: 3px;
                    height: 300px;
                    background: #888;
                    right: 0;
                    top: -100%;
                    z-index: -1;
                }
                .chain4{
                    position: absolute;
                    width: 3px;
                    height: 300px;
                    background: #888;
                    right: 10px;
                    top: -100%;
                    z-index: -1;
                }
            .comp_logo{
                position: absolute;
                top: 0;
                left: 0;
                // transform: translateY(-50%);
                // border:1px solid;
                display: flex;
                width: 100%;
                height: 71%;
                padding: 20px 15px;
                align-items: center;
                a{
                    max-width: 150px;
                    max-height: 75px;
                    display: block;
                    flex: 1;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                h2{
                    flex:1;
                    text-align: left;
                    font-size: 50px;
                }
            }
        }
        .carpet{
            position: absolute;
            bottom: 2%;
            width: 60%;
            left: 20%;
        }
        .catalogue_stand{
            width: 90px;
            // height: 0px;
            position: absolute;
            bottom: 3%;
            right: 16%;
            z-index: 5;
        }
        .wall{
            position: absolute;
            bottom: 7%;
            left: 50%;
            width: 600px;
            height: 480px;
            background: rgba(255,255,255,0.9);
            transform: translateX(-50%);
            z-index: 1;

            .television{
                position: absolute;
                top: 2%;
                left: 50%;
                transform: translateX(-50%);
                width: 200px;
                height: 100px;

                a{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    width: 30px;
                    height: 30px;
                }
            }
            .poster1{
                position: absolute;
                top: 2%;
                left: 20px;
                width: 150px;
                height: 180px;
            }
            .poster2{
                position: absolute;
                top: 2%;
                right: 20px;
                width: 150px;
                height: 180px;
            }
        }
        
        .receptionist{
            position: absolute;
            bottom: 5%;
            left: 52%;
            transform: translateX(-50%);
            z-index: 2;

            img{
                height: 380px;
            }
        }
        .table{
            position: absolute;
            bottom: 3%;
            left: 50%;
            width: 500px;
            height: 230px;
            transform: translateX(-50%);
            z-index: 3;
            .table_fb{
                width: 30px;
                height:30px;
                border-radius: 50%;
                // border:2px solid #003366;
                display: flex;
                align-items: center;
                justify-content: center;
                background: #fff;
                position: absolute;
                bottom: 20%;
                left: 30px;
                text-decoration: none;
                box-shadow: 1px 3px 5px 1px #333;
                i{
                    font-size: 15px;
                    color: #003366;
                    z-index: 10;
                }
            }
            .table_twitter{
                width: 30px;
                height:30px;
                border-radius: 50%;
                // border:2px solid #003366;
                display: flex;
                align-items: center;
                justify-content: center;
                background: #fff;
                position: absolute;
                bottom: 20%;
                left: 70px;
                text-decoration: none;
                box-shadow: 1px 3px 5px 1px #333;
                i{
                    font-size: 15px;
                    color: #003366;
                    z-index: 10;
                }
            }
            .table_in{
                width: 30px;
                height:30px;
                border-radius: 50%;
                // border:2px solid #003366;
                display: flex;
                align-items: center;
                justify-content: center;
                background: #fff;
                position: absolute;
                bottom: 20%;
                left: 110px;
                text-decoration: none;
                box-shadow: 1px 3px 5px 1px #333;
                i{
                    font-size: 15px;
                    color: #003366;
                    z-index: 10;
                }
            }
            .logo{
                position: absolute;
                right: 40px;
                top: 40%;
                transform: translateY(-70%) !important;
                width: 180px;
                height: 80px;
                // border:1px solid;
                z-index: 4;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            .logo:hover{
                cursor: pointer;
            }
            .table_chat_icon{
                width: 40px;
                height:40px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                background-image: linear-gradient(to right, rgb(0, 153, 51), rgb(0, 102, 255));
                position: absolute;
                top: 30%;
                left: 30px;
                text-decoration: none;
                box-shadow: 1px 3px 5px 1px #333;
                i{
                    font-size: 20px;
                    color: #fff;
                    z-index: 10;
                }
            }
            .table_product{
                
                display: flex;
                align-items: center;
                justify-content: center;
                background-image: linear-gradient(to right, rgb(0, 153, 51), rgb(0, 102, 255));
                position: absolute;
                top: 30%;
                left: 90px;
                text-decoration: none;
                font-size: 15px;
                padding:7px 10px;
                border-radius:5px;
                color:#fff;
                box-shadow: 1px 3px 5px 1px #333;
            }
        }
        .standi1{
            position: absolute;
            bottom: 5%;
            left: 28%;
            width: 200px;
            height: 400px;
            transform: translateX(-50%);
            z-index: 2;
            overflow: hidden;
            a{
                position: absolute;
                left: 50%;
                top: 9px;
                width: 188px;
                height: 373px;
                margin: auto auto;
                overflow: hidden;
                transform: translateX(-50%) !important;
                z-index: 3;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .standi2{
            position: absolute;
            bottom: 5%;
            right: 18%;
            width: 200px;
            height: 400px;
            transform: translateX(-50%);
            z-index: 2;
            overflow: hidden;
            a{
                position: absolute;
                left: 50%;
                top: 9px;
                width: 188px;
                height: 373px;
                margin: auto auto;
                overflow: hidden;
                transform: translateX(-50%) !important;
                z-index: 3;

                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
    
    
}
    
}