@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');


*::before,*::after,*{
    padding: 0;
    margin:0;
}

body{
    overflow-x: hidden;
}
.bg-red{
    background: #ff3333;
}
.bg-lightblue{
    background: #0099cc;
}
.bg-bluegreen{
    background: #669999;
}
.bg-darkblue{
    background: #003366;
}

.wrapper{
    width: 100%;
    height: 100vh;
    
    .header{
        padding: 15px 20px;
        .header_wrapper{
            width: 80%;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            .logo{
                display:flex;
                align-items: center;
                img:first-child{
                    width: 160px;
                    height: 50px;
                    border-right:1px solid;
                    margin: 0 20px;
                    padding: 0 20px 0 0;
                }
                img{
                    width: 200px;
                    height: 80px;
                }
            }
            .nav_links{
                display: flex;
                flex-direction: column;
                justify-content: center;
                .top_links{
                    display: flex;
                    flex-direction: column;
                    margin:0;
                    align-items: flex-end;
                }
                .bottom_links{
                    display: flex;
                    align-items: center;
                    position: relative;
                    
                    button{
                        width: 30px;
                        height: 30px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background: #0A53A0;
                        margin: 0 10px 0 0;
                        border-radius: 2px;
                        border:none;
                        i{
                            
                            font-size: 20px;
                            color: #fff;
                        }
                    }
                    .drop{
                        i{
                            font-size: 15px !important;
                        } 
                    }
                    
                    
                    .login{
                        width: 130px;
                        border:none;
                        padding: 5px;
                        background-image: linear-gradient(to right, rgb(0, 153, 51), rgb(0, 102, 255));
                        color:#fff;
                        border-radius:3px;
                        text-transform: uppercase;
                    }
                    .login:focus{
                        outline: none;
                    }
                    .notification{
                        width: 250px;
                        position: absolute;
                        right: 0px;
                        top:40px;
                        border:1px solid;
                        z-index: 5000;
                        background: #fff;
                        border-radius: 3px;
                        ul{
                            list-style: none;

                            li{
                                padding: 6px 15px;

                                a{
                                    color: #000;
                                    text-decoration: none;
                                }
                            }

                            li:hover{
                                background-image: linear-gradient(to right, rgb(0, 153, 51), rgb(0, 102, 255));
                                cursor: pointer;
                                a{
                                    color: #fff;
                                }
                            }
                            li:first-child{
                                border-bottom:1px solid #888;
                            }
                            li:last-child{
                                border-top:1px solid #888;
                            }
                        }
                    }
                    
                }
            }
            
        }

        .main_navbar{
            
            height: 50px;
            margin: 20px 0 -15px 0;
            display: flex;
            align-items: flex-start;
            ul{
                display: flex;
                list-style: none;
                justify-content: center;
                height: 100%;
                width: 100%;
                li{
                    padding: 0 10px;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    a{
                        text-decoration: none;
                        color: #000;
                        font-family: 'Montserrat', sans-serif;
                        font-weight: 700;
                        font-size: 14px;
                        text-transform: uppercase;
                        i{
                            font-weight: 300;
                            font-size: 16px;
                        }
                    }
                }
                li:hover{
                    background: rgba(0,0,0,0.5);
                }
                li:hover a{
                    color: #fff;

                    i{
                        color: #fff;
                    }
                }
            }
        }
    }

    .banner{
        border-bottom: 1px solid;
    }
    .clickhere{
        height: 100px;
        background-image: linear-gradient(to right, rgb(0, 153, 51), rgb(0, 102, 255));
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h3{
            color: #fff;
            text-transform: uppercase;
            letter-spacing: 1.5px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 300;
            animation: blink-animation 1.5s  infinite;
            -webkit-animation: blink-animation 1.5s  infinite;
            line-height: 40px;
        }
        p{
            color: #fff;
            text-transform: uppercase;
            font-family: 'Montserrat', sans-serif;
            font-weight: 300;
            font-size: 14px;
            letter-spacing: 2px;
            animation: blink-animation 1.5s  infinite;
            -webkit-animation: blink-animation 1.5s  infinite;
        }
        @keyframes blink-animation {
            from{
                opacity: 0;
            }
            to {
              opacity: 1;
            }
          }
          @-webkit-keyframes blink-animation {
            from{
                opacity: 0;
            }
            to {
              opacity: 1;
            }
        }
    }

    .main{
        margin: 30px 0;
        section{
            max-width: 70%;
            margin: 50px auto ;

            .title{
                h3{
                    text-transform: uppercase;
                    text-align: center;
                    color: #0A53A0;
                }
                .title_underline{
                    height: 1px;
                    width: 100px;
                    background-image: linear-gradient(225deg, rgba(0, 153, 51,1) 20% , rgba(0, 102, 255,1) 100%);
                    margin:15px auto 0 auto;
                }
            }
        }
        
        .divider{
            clip-path: polygon(0 0, 50% 66%, 100% 0);
            background-image: linear-gradient(90deg, rgba(0, 153, 51,1) 20% , rgba(0, 102, 255,1) 100%);
            width:100%;
            height: 50px;
            margin: 30px 0;
        }
        .register_section{
            width: 60%;
            margin: 30px auto;
           p{
                text-align: center;
                font-size: 18px;
           }
            .timer{
                margin: 35px 0;
                display: flex;
                flex-direction: column;
                .boxes{
                    display: flex;
                    justify-content: center;
                    .box_cover{
                        margin: 0 25px 0 0;
                        .box{
                            // border:1px solid;
                            width: 100px;
                            height: 100px;
                            margin-bottom: 10px;
                            border-radius:8px;
                            background-image: linear-gradient(225deg, rgba(0, 153, 51,1) 20% , rgba(0, 102, 255,1) 100%);
                            display: flex;
                            align-items: center;
                            justify-content: center;
    
                            h3{ 
                                color: #fff;
                                font-size: 35px;
                                font-weight: 600;
                            }
                        }
                        p{
                            text-align: center;
                            text-transform: uppercase;
                        }
                    }
                    .box_cover:last-child{
                        margin: 0;
                    }
                    
                }
                
            }

            .reg_btns{
                display: flex;
                // border:1px solid;
                margin: 50px 0 0 0;
                justify-content: center;
                height: 200px;
                align-items: center;
                .btn_reg{
                    // height: 30px;
                    padding: 13px;
                    width: 200px;
                    background: #0a53a0;
                    border:none;
                    margin:0 30px 0 0;
                    color: #fff;
                    position: relative;
                    text-transform: uppercase;
                    font-size: 16px;
                }
                .btn_reg:last-child{
                    margin:0;
                }

                .btn_reg::after{
                    content: '';
                    position: absolute;
                    width: 15px;
                    height: 15px;
                    border:1px solid;
                    background-image: linear-gradient(225deg, rgba(0, 153, 51,1) 20% , rgba(0, 102, 255,1) 100%);
                    top: 50%;
                    transform: translateY(-50%);
                    right: -22px;
                }
                .btn_reg:last-child::after{
                    content: '';
                    position: absolute;
                    width: 15px;
                    height: 15px;
                    border:1px solid;
                    top: 50%;
                    transform: translateY(-50%);
                    right: -22px;
                    display: none;
                }
            }
        }

        .featured_section{
            // border:1px solid;
            .viewall_product{
                text-align:center;
                .view_btn{
                    width: 328px;
                    height: 68px;
                    font-size: 20px;
                    background-image: linear-gradient(90deg, rgba(0, 153, 51,1) 40% , rgba(0, 102, 255,1) 100%);
                    color: #fff;
                    box-shadow: 10px 6px 15px 0px #999999;
                    text-transform: uppercase;
                    font-weight: 300;
                }
            }
            
            .tabs{
                margin: 30px 0 0 0;
                height: 50px;
                ul{
                    list-style: none;   
                    display: flex;
                    // justify-content: center;
                    align-items: center;
                    height: 100%;
                    li{
                        flex: 1;
                        display:flex;
                        align-items: center;
                        justify-content: center;
                        text-align: center;
                        padding: 0 20px;
                        height: 50px;
                        background: #9DFEAF;
                        overflow: hidden;
                        font-size: 15px;
                    }
                    li.active{
                        background: #003366;
                        color: #fff;
                    }
                    
                    li.search{
                        position: relative;
                        input{
                            height: 30px;
                            border:none;
                            border-radius:6px;
                            padding: 0 30px 0 10px;
                            
                        }
                        button{
                            width: 30px;
                            height: 30px;
                            border:none;
                            border-top-right-radius: 6px;
                            border-bottom-right-radius: 6px;
                            position: absolute;
                            right: 10px;
                            background: #003366;

                            i{
                                color: #fff;
                            }
                        }
                    }
                }
            }
            .owl-carousel{
                width: 100%;
                margin: 30px auto;
                border:1px solid;
                
                .item{
                    margin:0 30px 0 0;
                    border:1px solid;
                    border-radius: 5px;
                    height: 300px;
                    box-shadow: 5px 0px 5px 1px #8888;
                    .product_image{
                        display: flex;
                        justify-content: center;
                        img{
                            width: 195px;
                            height: 195px;
                        }
                    }
                    p{
                        text-align: center;
                        margin: 20px auto 0 auto;
                        width: 80%;
                        // border:1px solid;
                    }
                    
                }
                .item:last-child{
                    margin:0
                }
            }
            
            .owl-nav{
                display: block;
                
                .owl-next{
                    span{
                        font-size: 50px;
                        position: absolute;
                        right: -50px;
                        top: 40%;
                        transform: translateY(-50%);
                    }
                }
                .owl-prev{
                    span{
                        font-size: 50px;
                        position: absolute;
                        left: -50px;
                        top: 40%;
                        transform: translateY(-50%);
                    }
                }
            }
        }

        .current_exhibitors{
            .owl-carousel{
                width: 100%;
                margin: 60px auto;
                
                .item{
                    margin:0 30px 0 0;
                    border-right: 1px solid #888;
                    height: 300px;
                    .product_image{
                        display: flex;
                        justify-content: center;
                        img{
                            width: 195px;
                            height: 195px;
                        }
                    }
                    p{
                        text-align: center;
                        margin: 20px auto 0 auto;
                        width: 80%;
                        // border:1px solid;
                    }
                    
                }
                .item:last-child{
                    margin:0;
                    // border: none;
                }
            }
            
            .owl-nav{
                display: none;
                
                .owl-next{
                    span{
                        font-size: 50px;
                        position: absolute;
                        right: -50px;
                        top: 40%;
                        transform: translateY(-50%);
                    }
                }
                .owl-prev{
                    span{
                        font-size: 50px;
                        position: absolute;
                        left: -50px;
                        top: 40%;
                        transform: translateY(-50%);
                    }
                }
            }
            
            .viewall_exhibitor{
                text-align:center;
                .view_btn{
                    width: 328px;
                    height: 68px;
                    font-size: 20px;
                    background-image: linear-gradient(90deg, rgba(0, 153, 51,1) 40% , rgba(0, 102, 255,1) 100%);
                    color: #fff;
                    box-shadow: 10px 6px 15px 0px #999999;
                    text-transform: uppercase;
                    font-weight: 300;
                }
            }
        }

        .floor_plan{
            .blank_div{
                margin: 30px 0;
                width: 100%;
                height: 500px;
                background: #888;
                display: flex;
                align-items: center;
                justify-content: center;

                h3{
                    font-weight: 300;
                    font-size:60px;
                    color:#fff;
                }
            }
        }

        .advantage_banner{
            background-image:
            linear-gradient(225deg, rgba(0, 153, 51,0.7), rgba(0, 153, 51,0.5), rgba(0, 102, 255,1)),
            url('../../images/2990.jpg');
            width:100%;
            height: 70vh;
            background-size: cover;
            background-attachment: fixed;
            color: white;
            padding: 20px;

            .advantage{
                display: flex;
                align-items: center;
                justify-content: center;
                height: 60vh;
                .cont_left{
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    border-right: 1px solid #fff;
                    margin: 0 20px 0 0;
                    .content{
                        display: flex;
                        align-items: center;
                        margin: 0 0 20px 0;
                        .indexing{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            margin: 0 20px 0 0;
                            p{
                                background: #023770;
                                width: 50px;
                                height: 50px;
                                border-radius: 50%;
                                display: flex;
                                align-items: center;
                                text-align: center;
                                justify-content: center;
                                
                            }
                        }
                        .description{
                            p{
                                font-size: 16px;
                                width: 70%;
                                letter-spacing: 2px;
                            }
                        }
                    }
                }
                .cont_right{
                    flex:1;
                    // border:1px solid;
                    display: flex;
                    flex-direction: column;

                    h3{
                        width: 200px;
                        font-size: 60px;
                        text-transform: uppercase;
                        font-weight: 700;
                        margin: 0 0 20px 0;
                    }

                    .knowmore{
                        bordeR:1px solid;
                        width: 200px;
                        color: #fff;
                        border:2px solid;
                        text-transform: uppercase;
                        font-size: 20px;
                        transition: background 0.35s ease-in-out;
                    }
                    .knowmore:hover{
                        background-image: linear-gradient(90deg, rgba(0, 153, 51,1) 40% , rgba(0, 102, 255,1) 100%);
                        // color: #003366;
                        border:2px solid rgba(0, 153, 51,1);
                    }
                }
            }
        }

        .partners{
            display: flex;
            height: 50vh;
            align-items: center;
            justify-content: center;
            width: 80%;
            margin: 0 auto;
            // padding: 0 30px;
            img{
                // flex: 1;
                width: 200px;
                height: 100px;
                margin: 0 100px 0 0;
            }
        }


        .sectors{
            background-image:
            linear-gradient(225deg, rgba(0, 153, 51,0.7), rgba(0, 153, 51,0.5), rgba(0, 102, 255,1)),
            url('../../images/gen-engineering-banner-980x250.jpg');
            width:100%;
            height: 40vh;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            background-attachment: fixed;
            color: white;
            padding: 20px;

            .eng_sectors_content{
                display: flex;
                align-items: center;
                justify-content: center;
                height: 30vh;
                .content{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin: 0 50px 0 0;
                    .sec_icon{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 100px;
                        height: 100px;
                        border-radius:50%;
                        border:2px solid #003366;
                        background:#ffff;
                        img{
                            width: 50px;
                            height: 50px;
                        }
                    }
                    .sec_desc{
                        margin: 20px 0 0 0;
                        p{
                            text-align: center;
                        }
                    }
                }
                .content:last-child{
                    margin:0;
                }
            }
        }


        .about{
            height: 40vh;
            margin: 50px auto 100px auto !important;
            .about_container{
                height: 30vh;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 50px 0;
                .content{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin: 0 50px 0 0;
                    .icon{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 80px;
                        height: 80px;
                        border-radius:50%;
                        background-image: linear-gradient(90deg, rgba(0, 153, 51,1) 40% , rgba(0, 102, 255,1) 100%);
                        img{
                            width: 50px;
                            height: 50px;
                        }
                    }
                    .desc{
                        margin: 20px 0 0 0;
                        p{
                            text-align: center;
                        }
                    }
                }
                .content:last-child{
                    margin:0;
                }
            }
        }




        .testimonial{
            .testimonial_content{
                margin: 50px 0 0 0;
                // border:1px solid;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                .box{
                    border:1px solid #ddd;
                    flex-basis: 45%;
                    border-radius:5px;
                    .about_section{
                        position: relative;
                        padding: 15px 40px 30px 40px;
                        border-radius:5px;
                        background-image: linear-gradient(to bottom, rgba(0, 153, 51,4) , rgba(0, 102, 255,4));
                        p{
                            color: #fff;
                        }
                        img:first-child{
                            position: absolute;
                            width: 30px;
                            height: 30px;
                            left: 5px;
                            top: 10px;
                            transform: rotate(180deg);
                        }
                        img{
                            position: absolute;
                            width: 30px;
                            height: 30px;
                            right: 35px;
                            bottom: 40px;
                            // transform: rotate(180deg);
                        }
                    }
                    .profile_info{
                        position: relative;
                        padding: 30px 20px;
                        img{
                            width: 100px;
                            height: 100px;
                            border-radius: 50%;
                            position: absolute;
                            left: 50%;
                            top: -30px;
                            transform: translateX(-50%);
                        }

                        h4{
                            text-transform: uppercase;
                            font-size: 20px;
                            margin:60px 0 5px 0;
                        }
                        p{
                            text-transform: uppercase;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
        //main
    }

    .footer{
        margin: 100px 0 0 0;
        background-image: linear-gradient(90deg, rgba(0, 153, 51,1) 40% , rgba(0, 102, 255,1) 100%);
        height: 60px;
        display: flex;
        align-items: center !important;
        justify-content: center;   
        

        p{
            font-size: 16px;
            color: #fff;
        }
    }
    //wrapper
}


@media only screen and(min-width:1300px){
    .partners{
        display: flex;
        height: 50vh;
        align-items: center;
        justify-content: center;
        width: 80%;
        margin: 0 auto;
        padding: 0 30px;
        img{
            // flex: 1;
            width: 300px;
            height: 200px;
            margin: 0 100px 0 0;
        }
        img:last-child{
            max-width: 200px !important;
            max-height: 200px !important;
            margin: 0;
        }
    }

    .testimonial{
        .testimonial_content{
            margin: 50px 0 0 0;
            // border:1px solid;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            .box{
                border:1px solid #ddd;
                width: 500px;
                border-radius:5px;
                .about_section{
                    position: relative;
                    padding: 15px 40px 30px 40px;
                    border-radius:5px;
                    background-image: linear-gradient(to bottom, rgba(0, 153, 51,4) , rgba(0, 102, 255,4));
                    p{
                        color: #fff;
                    }
                    img:first-child{
                        position: absolute;
                        width: 30px;
                        height: 30px;
                        left: 5px;
                        top: 10px;
                        transform: rotate(180deg);
                    }
                    img{
                        position: absolute;
                        width: 30px;
                        height: 30px;
                        right: 35px;
                        bottom: 40px;
                        // transform: rotate(180deg);
                    }
                }
                .profile_info{
                    position: relative;
                    padding: 30px 20px;
                    img{
                        width: 100px;
                        height: 100px;
                        border-radius: 50%;
                        position: absolute;
                        left: 50%;
                        top: -30px;
                        transform: translateX(-50%);
                    }

                    h4{
                        text-transform: uppercase;
                        font-size: 20px;
                        margin:60px 0 5px 0;
                    }
                    p{
                        text-transform: uppercase;
                        font-size: 14px;
                    }
                }
            }
        }
    }
}